---
---
// @import "{{ site.theme }}";
// @import "primer";

// Override default blue
// $blue-000: #fafcff; // .bg-blue-light
$blue-500: #3172b8;

@import "primer.css";
// @import '@primer/css/core/index.scss';
// @import '@primer/css/product/index.scss';
// @import '@primer/css/marketing/index.scss';

@import "fontawesome";

body {
  background: #fafcff;
}

.capitalize-first-letter {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  [hidden].d-md-block.unhide,
  [hidden][hidden].d-md-block.unhide {
    display: block !important;
  }
}

#main {
  // min-height: 100vh;
  // min-height: calc(100vh - 64px);
  // margin-bottom: -150px;
  // padding-bottom: 150px;
}

.markdown-body {
  min-height: calc(100vh - 77px);
}

#SideNav .SideNav {
  margin-left: -1px;
}
.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Fontawesome Social Media icons */
.social {
  a:hover {
    color: $blue-500 !important;
  }
  .link-gray .fab:not(:hover) {
    color: #586069;
  }
  .fa-home {
    color: $blue-500;
  }
  .fa-facebook, .fa-facebook-square {
      color: #3b5998
  }
  .fa-twitter, .fa-twitter-square {
      color: #00aced
  }
  .fa-google-plus, .fa-google-plus-square {
      color: #dd4b39
  }
  .fa-youtube, .fa-youtube-play, .fa-youtube-square {
      color: #bb0000
  }
  .fa-tumblr, .fa-tumblr-square {
      color: #32506d
  }
  .fa-vine {
      color: #00bf8f
  }
  .fa-flickr {
      color: #ff0084
  }
  .fa-vimeo-square {
      color: #aad450
  }
  .fa-pinterest, .fa-pinterest-square {
      color: #cb2027
  }
  .fa-linkedin, .fa-linkedin-square {
      color: #007bb6
  }
  .fa-instagram {
      color: #517fa4;
  }
  .fa-spotify {
      color: #1ED760;
  }
}
