---
---
// @import "{{ site.theme }}";
// @import "primer";

// Override default blue
// $blue-000: #fafcff; // .bg-blue-light
$blue-500: #438dcc;

// Avoid compiling primer css to significantly speed up building for development:
// jekyll serve --config _config.yml,_config-dev.yml
{% if page.dev == true %}
  @import "primer.css";
{% else %}
  @import '@primer/css/core/index.scss';
  @import '@primer/css/product/index.scss';
  @import '@primer/css/marketing/index.scss';
{% endif %}

@import "fontawesome";
@import "homepage.scss";

/*
google-webfonts-helper
A Hassle-Free Way to Self-Host Google Fonts
https://google-webfonts-helper.herokuapp.com/fonts
*/

/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('{{site.baseurl}}/assets/webfonts/barlow-condensed-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('{{site.baseurl}}/assets/webfonts/barlow-condensed-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{site.baseurl}}/assets/webfonts/barlow-condensed-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{site.baseurl}}/assets/webfonts/barlow-condensed-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('{{site.baseurl}}/assets/webfonts/barlow-condensed-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{site.baseurl}}/assets/webfonts/barlow-condensed-v4-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('{{site.baseurl}}/assets/webfonts/abril-fatface-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abril Fatface'), local('AbrilFatface-Regular'),
       url('{{site.baseurl}}/assets/webfonts/abril-fatface-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{site.baseurl}}/assets/webfonts/abril-fatface-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{site.baseurl}}/assets/webfonts/abril-fatface-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('{{site.baseurl}}/assets/webfonts/abril-fatface-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{site.baseurl}}/assets/webfonts/abril-fatface-v11-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

body {
  background: #fafcff;
  &[data-page='home.html'] #sandwich {
    display: none;
  }
}

@media (max-width: 767px) {
  .indent-after-wrap {
    text-indent: -1em;
    padding-left: 1em;
  }
}

// only show first children
.limit-children > :not(:nth-child(n+1):nth-child(-n+4)) {
  display: none;
}
@media (min-width: 768px) and (max-width: 1011px) {
  .limit-children > :nth-child(4) {
    display: none;
  }
}

@media (min-width: 768px) {
  [hidden].d-md-block.unhide,
  [hidden][hidden].d-md-block.unhide {
    display: block !important;
  }
}

.blockquote-wrapper {
  background-image: url('{{site.baseurl}}/assets/img/eucharistie_home.1920.jpg');
}

.justify {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 4;
  -webkit-hyphenate-limit-before: 2;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 1;
}

.day-row[data-events='0'] {
  display: none;
}

.logo {
  &.avatar {
    // background: $blue-500;
  }
  use {
    &.blue {
      fill: $blue-500;
    }
    &.white {
      fill: white;
    }
  }
}

div.nav-texts,
div.nav-about {
  padding: 0 1em;
}

.capitalize-first-letter {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

#main {
  // min-height: 100vh;
  // min-height: calc(100vh - 64px);
  // margin-bottom: -150px;
  // padding-bottom: 150px;
}

.markdown-body {
  min-height: calc(100vh - 77px);
}

#SideNav .SideNav {
  margin-left: -1px;
}
.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Fontawesome Social Media icons */
.social {
  a:hover {
    color: $blue-500 !important;
  }
  .link-gray .fab:not(:hover) {
    color: #586069;
  }
  .fa-home {
    color: $blue-500;
  }
  .fa-facebook, .fa-facebook-square {
      color: #3b5998
  }
  .fa-twitter, .fa-twitter-square {
      color: #00aced
  }
  .fa-google-plus, .fa-google-plus-square {
      color: #dd4b39
  }
  .fa-youtube, .fa-youtube-play, .fa-youtube-square {
      color: #bb0000
  }
  .fa-tumblr, .fa-tumblr-square {
      color: #32506d
  }
  .fa-vine {
      color: #00bf8f
  }
  .fa-flickr {
      color: #ff0084
  }
  .fa-vimeo-square {
      color: #aad450
  }
  .fa-pinterest, .fa-pinterest-square {
      color: #cb2027
  }
  .fa-linkedin, .fa-linkedin-square {
      color: #007bb6
  }
  .fa-instagram {
      color: #517fa4;
  }
  .fa-spotify {
      color: #1ED760;
  }
}
